
body{
margin:0;
font-family:Arial;
}

#map{
height:60vh;
}

.panel{
padding:20px;
}

.panel input{
width:100%;
padding:10px;
margin:5px 0;
}

.panel button{
width:100%;
padding:15px;
font-size:18px;
}
