
.app-panel{
position:fixed;
left:0;
right:0;
bottom:0;
height:420px;
background:white;
border-top-left-radius:22px;
border-top-right-radius:22px;
box-shadow:0 -8px 25px rgba(0,0,0,0.25);
transition:transform .25s ease;
touch-action:none;
z-index:999;
}

.sheet-handle{
width:60px;
height:6px;
background:#ccc;
border-radius:10px;
margin:8px auto 14px auto;
}
