
body{
margin:0;
font-family:Arial;
}

#map{
position:absolute;
top:60px;
bottom:0;
width:100%;
height:calc(100vh - 60px);
}

#topbar{
position:absolute;
top:0;
left:0;
right:0;
height:60px;
background:white;
z-index:1000;
padding:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

#infoCard{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.2);
font-size:18px;
}

#driverTop{
position:absolute;
top:0;
left:0;
right:0;
height:60px;
background:white;
padding:15px;
z-index:1000;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
