
body{
font-family:Arial;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:white;
padding:30px;
border-radius:12px;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin:6px 0;
}

button{
width:100%;
padding:12px;
margin-top:6px;
background:#2b7cff;
color:white;
border:none;
border-radius:6px;
}

.link{
text-align:center;
margin-top:10px;
}
