
body{
margin:0;
font-family:Arial;
}

#map{
height:60vh;
}

.center{
text-align:center;
margin-top:100px;
}

.btn{
display:block;
margin:20px auto;
padding:15px;
width:220px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:10px;
}

.panel{
padding:20px;
background:#111;
color:white;
}

button{
width:100%;
padding:15px;
font-size:18px;
margin-top:10px;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
align-items:center;
justify-content:center;
}

.popupBox{
background:white;
color:black;
padding:20px;
border-radius:10px;
width:300px;
text-align:center;
}
