
body{
font-family:Arial;
margin:0;
background:#0f0f0f;
color:white;
}

.center{
text-align:center;
margin-top:100px;
}

.btn{
display:block;
margin:20px auto;
padding:15px;
width:220px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:12px;
}

.map{
height:55vh;
background:#222;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
}

.panel{
background:#111;
padding:20px;
border-top-left-radius:30px;
border-top-right-radius:30px;
margin-top:-20px;
}

.panel input{
width:100%;
padding:12px;
margin:6px 0;
border-radius:10px;
border:none;
}

.order{
width:100%;
padding:15px;
background:#22c55e;
border:none;
border-radius:15px;
font-size:18px;
}

.price{
font-size:22px;
margin:10px 0;
font-weight:bold;
}
